:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #b5dfe1;
    --secondary-color: #eee5d5;
    --tertiary-color: #6ca8b3;
    
  
    /* sizes
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em; */
  }
html {
    background-color: #eee5d5;
}


header {
   background-color: #6ca8b3;
   font-size: large;
   padding-top: 6px;
   padding-bottom: 6px;
   
}
header h1 {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}
.links {
    text-align: center;
    
}
.links a {
    margin: 0 25px;
  }

#pet-list h2 {
    /* background-color: orange; */
    text-align: center;
    font-size: 25px;
    margin: 6px;

}

.pet-card {
    background-color: #b5dfe1;
    list-style-type: none;
    border-radius: 3%;
    border: 6px solid gray;
    box-shadow: 6px 6px 8px rgb(0, 0, 0.05);
 }

 .pet-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
 }

 .pet-card {
     transition: transfor 0.03s, box-shadow 0.3s;
 }

.pet-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 0px;
    max-width: 75%;
}



li p {
    margin: 1rem;
}

footer {
    background-color: #6ca8b3;
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 12px;
}

.pet-identifier {
    margin: 0 auto;
    padding: 0;
}

/* This is CSS for Types Page */





 